.container {
  position: relative;
  min-height: 100px;
  min-width: 100%;
  height: auto;background-color: rgb(23, 3, 33);
  
  /* background-image: url("/b1.jpg"); */
  background-repeat: repeat-y;
  /* background-size: cover; */
  background-attachment: fixed;
  background-position: 90%;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
 
  /* height: "100vh"; */
  /* backgroundRepeat: "no-repeat"; */
  /* backgroundSize: "container"; */
}
.navbar{
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: palegoldenrod;

}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  float: left;
  display: flex;
}

.navbar li a {
  display: block;
  color: palegoldenrod;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: rgba(82, 54, 92, 0.318);
}

.title {
  /* margin: 0 0 1rem; */
  line-height: 1.15;
  font-size: 6rem;
  color: plum;
  font-family: 'Sacramento', cursive;
  font-weight: 400;
  font-style: italic;
  margin-top: 13rem;
  text-align: center;
}
.title+span{
  font-size:3rem;
  text-align: center;
  color: #FACBEA;
  display: block;
 padding: 5rem;
}

.title,
.description {
  text-align: center;
  
}
.con{
  margin-right: -15px;
  margin-left: -15px;
  padding: 12rem;
   background-image: url("/bg1.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  background-position: 90%;
  position: relative;
  min-height: 100px;
  min-width: 100%;
  height: auto;
}

.description {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(23, 3, 33);
  min-width: 900px;
  min-height: 200px;
  margin-top: 3rem;
  padding: 10px 200px;
  line-height: 2;
  font-size: 1.8rem;
  color: palegoldenrod;
}

.hi{
  font-size: xx-large;
}
.project{
  
  background-image: url("/project.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  background-position: 90%;
  min-height: 100px;
  min-width: 100%;
  height: auto;


}
.pro{
  text-align: center;
  line-height: 1.15;
  font-size: 6rem;
  color: plum;
  font-family: 'Tangerine';
  font-weight: 400;
  /* font-style: italic; */
}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width:60%;
  margin-top: 3rem;
  margin-left: 30rem;
}

.card {
/* max-width: 900px; */
align-items: center;
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  background-color: rgba(82, 54, 92, 0.318);
  /* border-color: rgba(200, 169, 211, 0.318); */
  box-shadow: 4px 3px 3px 0 rgba(221, 160, 221, 0.708);
  text-decoration: none;
}

.card h3 {
  margin: 1rem;
  color: plum;
  font-size: 2rem;
  text-align: center;
}

.card p {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  color: palegoldenrod;
  line-height: 1.5;
}
.card img{
  width: 100%;
}
.skill{
  display: flexbox;
  text-align: center;
  color: plum;

  font-size: xx-large;
}
.skillrow{
  text-align: center;
  display: flexbox;
  padding: 2rem;
  font-size: 3rem;
  margin-left: -15px;
  margin-right: -15px;
}
.skillicon{
  font-size: medium;
}
.skillicon img{
  vertical-align: middle;
  padding: 1rem;
  height: 100px;
}


.edu{
  
  background-image: url("/edu.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  background-position: 90%;
  min-height: 100px;
  min-width: 100%;
  height: auto;


}
.ed{
  text-align: center;
  line-height: 1.15;
  font-size: 6rem;
  color: plum;
  font-family: 'Tangerine';
  font-weight: 400;
  /* font-style: italic; */
}
.timeline {
  list-style: none;
  padding: 20px 10px 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 1.5px;
  background-color: #eee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 40px;
  position: relative;
}
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
   clear: both; 
}
.timeline > li > .timage {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 2px solid rgba(232, 232, 231, 0.2);
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  top: 20px;
  left: 50%;
  margin-left: -50px;
  background-color: rgb(23, 3, 33);
  z-index: 100;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(232, 232, 231, 0.1);
  box-shadow: 0 1px 3px rgba(212, 251, 223, 0.1);
}
.timeline>li .timage .content {
  margin-top: 22px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.timeline li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.timeline ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.t1 .t2 .tb{
color: plum;
font-size: larger;
}
.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
