.container {
  position: relative;
  min-height: 100px;
  min-width: 100%;
  height: auto;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-image: url("/bg1.png");
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  background-position: 90%;
  /* height: "100vh"; */
  /* backgroundRepeat: "no-repeat"; */
  /* backgroundSize: "container"; */
}

.title {
  /* margin: 0 0 1rem; */
  line-height: 1.15;
  font-size: 4rem;
  color: plum;
  font-family: 'Sacramento', cursive;
  font-weight: 400;
  font-style: italic;
  margin-top: 15rem;
}

.title {
  text-align: center;
}
.title+span{
  font-size:2rem;
  text-align: center;
  color: #FACBEA;
  display: block;
  /* margin-left: 7rem; */
  /* display: flex;*/
  /* margin-bottom: 30px; */
}

.title,
.description {
  text-align: center;
  
}
.con{
  margin-right: -15px;
  margin-left: -15px;
}
.description {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(66, 12, 66, 0.566);
  max-width: 900px;
  margin-top: 3rem;
  line-height: 1.5;
  font-size: 1.5rem;
  color: palegoldenrod;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition:
    color 0.15s ease,
    border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  color: palegoldenrod;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  color: palegoldenrod;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
